p{
    font-family:normal;
    font-size: 16px;
}

p.car{
    text-align:center;
    font-size:16px;
    font-family:normal;
}

h1{
    text-align: center;
}
p.sun{
    text-align: 16px;
    font-family: normal;
}